{% extends 'layout.html' %}
{% block content %}
	<h1>Latest News</h1>
	{% if session.logged_in %}
		<h4 class="text-info ml-5">Welcome, {{ session.name}}</h4>
	{% endif %}	
	<ul class="list-group">
		{% for article in response.articles %}
			<li class="list-group-item mt-2">
				<h3>{{ article.title }}</h3>
				<p>{{ article.description }}</p>
				<a href="{{ url_for('read_bp.read', index=loop.index0) }}">Read more...</a>
				<div class="d-flex justify-content-between">
					<div>{{ article.author }}</div>
					<div>{{ article.publishedAt }}</div>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}